<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
<header>
   
    <div class="righ-sid-menu">
        <div class="dr dropdown">
            <a href="javascript:void(0)" class=" " (click) = "dropdown()" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">notifications</i></a>

         
            <div *ngIf= "show" class="dropdown-menu show" style="left:-120px" aria-labelledby="dropdownMenuButton">
              <a *ngFor = "let notif of notifs "class="dropdown-item" [routerLink]="[user.type=='expert'?'/agri/rdv' : '/agri/expert']" >
                  
                {{notif.contenu}} <br>
                {{notif.fromuserid.firstname}}{{notif.fromuserid.name}} <br>
                {{notif.created_at | date}}

           </a>
             
            </div>
          </div>
     
        <a href="javascript:void(0)" class="menu-right"><i class="material-icons">person</i></a>
    </div>
    <div class="ham-menu">
        <a href="javascript:void(0)" class="menu-left"><i class="material-icons">menu</i></a>
    </div>

    <div class="overlay">

        <h1>Fle7etna</h1>
        
            <figure><img src="assets/img/Flogo.png" WIDTH=10% HEIGHT=10% alt=""> </figure>
        <br>
        <h3>L'espace pour tous les agriculteurs !</h3>
        <p>Leader tunisien dans le domaine agriculteur, Fle7etna est toujours là pour des solutions pour la performance de l’agriculture.
        </p>
        <br>
        

    </div>

</header>