<app-admin-header>

    <app-article *ngIf="show=='article'"></app-article>
    <app-news *ngIf="show=='news'"></app-news>
    <app-expert *ngIf="show=='expert'"></app-expert>
    <app-acceuil *ngIf="show=='home'"></app-acceuil>
    <app-user-list *ngIf="show=='users'"></app-user-list>
    <app-events *ngIf="show=='event'"></app-events>
    <app-product *ngIf="show=='product'"></app-product>
    <app-quotation *ngIf="show=='quotas'"></app-quotation>
    <app-commisariat *ngIf="show=='commisariat'"></app-commisariat>
    
</app-admin-header> 