<div class="wrapper row2">

  <div id="container" class="clear">

    <div class="slideshow-container">

      <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="../../../assets/img/slide22.jpg" style="width:100%">
        <div class="text"> </div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="../../../assets/img/slide33.jpg" style="width:100%">
        <div class="text"> </div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="../../../assets/img/slide44.jpg" style="width:100%">
        <div class="text"> </div>
      </div>

    </div>
    <br>

    <div style="text-align:center">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>


    <div>




      <div class="about-section">
        <h1>Fle7etna</h1>

        <h5 style="color: honeydew;">Optez pour FLa7etna, un portail web offre complète pour planifier, piloter et simplifier le suivi technique et administratif de votre élevage de bovins à l’étable, en salle de traite, au bureau... Partout ! Grace à nos experts.
          <br> Ce portail est l’outil du quotidien des agriculteurs qui permet d’avoir des inforamtions utiles</h5>
        <figure><img src="assets\img\logoF.png" class="center" style="width:10%">
        </figure>
      </div>

      <h2 style="text-align:center">Notre Equipe</h2>
      <div class="row" style="padding-left: 350px;" >

        

        <div class="col-md-4" >
          <div class="card">
            <img src="../../../assets/img/rami.jpg" alt="John" style="width:50%" class="center">
            <div class="container">
              <h2 >Mr Rami Ghaouar</h2>
              <h5 class="title">Directeur de G-DEV</h5>
              <p>Passionné par les nouvelles technologies, et ayant des compétences dans les secteurs des réseaux et de
                télécommunications.
                <br> Je souhaite m’investir dans une entreprise dynamique ayant un environnement technique et un domaine d'application motivants</p>
              <h6>ghaouar_rami@gmail.com</h6>

            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            
            <img src="../../../assets/img/saif.JPG" alt="Mike" style="width:50%" class="center">
            <div class="container">
              <h2>Seifeddine Gorchene</h2>
              <h5 class="title">Administrateur de FLA7ETNA</h5>
              <p>Responsable du portail web "FLE7ETNA", de sa conception à sa maintenance. Je gère au jour le jour la technique et met à jour le contenu. Je me soucie de l'ergonomie du site et du respect des normes techniques suggérées par le W3C.</p>
             <br>
              <h6>saifgorchene@gmail.com</h6>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>