<div class="wrapper">
    <!-- page main start -->
    <div class="page">
        <div class="page-content h-100">
            <div class="background theme-header"><img src="assets/img/backg.jpg" alt=""></div>
            <div class="row mx-0 h-100 justify-content-center">
                <div class="col-10 col-md-6 col-lg-4 my-3 mx-auto text-center align-self-center">
                    <img src="assets/img/logoF.png" alt="" class="login-logo">
                    <br>
                    <br>
                    <h5 class="text-white mb-4">Enregister vous</h5>
                    <br>
                    <form [formGroup]="registerForm">
                    <div class="login-input-content ">
                        <div class="form-group">
                            <input type="text" class="form-control rounded " [(ngModel)]="user.name" formControlName="name" required placeholder="Nom">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control rounded  " [(ngModel)]="user.firstname" formControlName="firstname" required placeholder="Prenom">
                        </div>
                        <div class="form-group">
                            <input type="email" email="true" class="form-control rounded " [(ngModel)]="user.email" formControlName="email" required placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control rounded " [(ngModel)]="user.password" formControlName="password" required placeholder="Mot de passe" minlength="6">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control rounded " [(ngModel)]="user.confirmpassword" formControlName="confirmpassword" required placeholder="Confirmer mot de passe" minlength="6">
                        </div>
                        <button (click)="register()"  class="btn btn-block btn-success rounded border-0 z-3" [disabled]="!registerForm.valid || user.password != user.confirmpassword">Enregister</button>
                    </div>
                    </form> 
                    <br>
                    <br>
                    <div class="row no-gutters">
                        <div class="col-12 text-center text-white">Vous avez déjà un compte?<br>S'il vous plait <a [routerLink]="['/']" class="text-white font-weight-bold mt-3">Connectez-vous</a> ici.</div>
                    </div>                        
                </div>
            </div>
            <br>

        </div>

    </div>
    <!-- page main ends -->

</div>